In [239]:
import pandas as pd
 
data = pd.read_csv('train.csv')

In [240]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Target                        106 non-null    int64
 1   Alcohol                       106 non-null    float64
 2   Malic acid                    106 non-null    float64
 3   Ash                           106 non-null    float64
 4   Alcalinity of ash             106 non-null    float64
 5   Magnesium                     106 non-null    int64
 6   Total phenols                 106 non-null    float64
 7   Flavanoids                    106 non-null    float64
 8   Nonflavanoid phenols          106 non-null    float64
 9   Proanthocyanins               106 non-null    float64
 10  Color intensity               106 non-null    float64
 11  Hue                           106 non-null    float64
 12  OD280/OD315 of diluted wines  106 non-null    float64
 13  Proline                       106 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 11.7 KB

In [241]:
X = data.drop("Target", axis = 1)
y = data["Target"]

In [242]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [243]:
model_learn_reg = make_pipeline(StandardScaler(), LinearRegression())

model_learn_reg.fit(X, y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [244]:
prediction = model_learn_reg.predict(X_test)

In [245]:
y_sets_after_learning = pd.DataFrame({"Target": prediction})

y_sets_after_learning = y_sets_after_learning.round()

y_sets_after_learning.astype({"Target": "Int64"})

    Target
0        2
1        2
2        2
3        1
4        3
5        1
6        1
7        2
8        1
9        1
10       2
11       1
12       1
13       2
14       2
15       1
16       2
17       3
18       3
19       2
20       1
21       2
22       1
23       2
24       2
25       1
26       3

In [246]:
model_learn_reg.score(X_test, y_test)

0.9180366716298862

In [248]:
data_test = pd.read_csv('test.csv')

In [249]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         72 non-null     int64
 1   Alcohol                       72 non-null     float64
 2   Malic acid                    72 non-null     float64
 3   Ash                           72 non-null     float64
 4   Alcalinity of ash             72 non-null     float64
 5   Magnesium                     72 non-null     int64
 6   Total phenols                 72 non-null     float64
 7   Flavanoids                    72 non-null     float64
 8   Nonflavanoid phenols          72 non-null     float64
 9   Proanthocyanins               72 non-null     float64
 10  Color intensity               72 non-null     float64
 11  Hue                           72 non-null     float64
 12  OD280/OD315 of diluted wines  72 non-null     float64
 13  Proline                       72 non-null     int64
dtypes: float64(11), int64(3)
memory usage: 8.0 KB

In [250]:
Test_out = model_learn_reg.predict(data_test.drop("index", axis = 1))
data_test_index = pd.DataFrame(data_test["index"])

In [251]:
Test_out

array([2.50381725, 3.22182718, 2.05175506, 1.19201187, 1.58614567,
       1.79901344, 2.22873787, 3.03928039, 1.37495534, 1.34631501,
       2.14681555, 1.63106203, 1.94996857, 1.19384072, 2.20132015,
       2.0880744 , 1.20002118, 0.88152967, 1.01959986, 1.68503205,
       3.33036775, 1.7032356 , 1.9244515 , 1.92117892, 1.28869164,
       2.17223457, 0.76887022, 1.54163195, 2.04757106, 2.73605013,
       2.56048874, 1.06745017, 2.07266089, 0.88447445, 1.72824744,
       2.94460799, 1.13184747, 2.8611199 , 3.35357537, 1.17520736,
       1.83160674, 1.0882371 , 3.06272119, 0.82420204, 1.40532045,
       1.45204173, 2.11178434, 2.1965292 , 2.7980892 , 3.10185325,
       1.19871437, 3.28932754, 2.21761428, 1.06720236, 2.96817769,
       1.96228961, 2.08317401, 2.36002037, 1.10421021, 1.91236872,
       0.9694089 , 2.72086135, 2.53815149, 3.28014441, 2.68466796,
       1.88085521, 1.47505228, 1.4127373 , 2.29752514, 0.94011085,
       3.07434046, 2.08176759])

In [252]:
df_Test_out = pd.DataFrame({"Target":Test_out})

df_Test_out = df_Test_out.round()

df_Test_out.astype({"Target": "Int64"})

    Target
0        3
1        3
2        2
3        1
4        2
..     ...
67       1
68       2
69       1
70       3
71       2

[72 rows x 1 columns]

In [253]:
df_Test_out_round = []

In [254]:
for i in df_Test_out["Target"]:
    df_Test_out_round.append(int(i))

In [255]:
df_Test_out_round = pd.DataFrame({"Target": df_Test_out_round})

In [256]:
sample_submission = data_test_index.join(df_Test_out_round)

In [258]:
sample_submission.to_csv("sample_submission.csv", sep=',', index=False)